* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-family: "Inter", sans-serif;
  --font-color-white: white;
  --font-color-black: black;
  --font-color-sub: rgb(130, 132, 135);
  --background-color-main: rgb(241, 241, 241);
  --font-size-heading-super-titan: 10rem;
  --font-size-heading-XXL-titan: 5.75rem;
  /*92px*/
  --font-size-heading-XXL: 4.5rem;
  /*72px*/
  --font-size-heading-SXL: 2rem;
  /*32px*/
  --font-size-heading-XL: 1.875rem;
  /*30px*/
  --font-size-body-XXL: 2.5rem;
  /* 40px */
  --font-size-body-XL: 1.5rem;
  /*24px*/
  --font-size-body-X: 1rem;
  /*16px*/
  --font-size-body-XS: 0.875rem;
  /*14px*/
  --font-size-number-titan: 4.5rem;
  /*70px*/
  --font-size-title-XXL: 3.75rem;
  /*60px*/
  --font-weight-regular: 400;
  --font-weight-thin: 300;
  --font-weight-semibold: 400;
  --font-weight-bold: 600;
  --font-weight-ultrabold: 700;
  --font-weight-titan: 900;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f1f1f1;
}
header {
  width: 100%;
  background-image: url("./home/BACKGROUND__HERO.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden__nagativation--bar {
  position: fixed;
  width: 100%;
  max-height: 0rem;
  opacity: 0;
  background: black;
  z-index: 99;
  color: var(--font-color-white);
  overflow: hidden;
  transition: all 0.5s linear;
}
.hidden__navigation--bar--content {
  width: 100%;
  display: flex;
  gap: 5rem;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 99;
}
.hidden__navigation--contact {
  height: 100%;
  width: 40%;
  position: relative;
}
.hidden__navigation--contact .icon {
  padding: 0 0 3rem 0;
}
.hidden__image--upper {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.hidden__image--lower {
  width: 70%;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.5rem;
  transform: translate(50%, -50%);
}
.hidden__image--upper img,
.hidden__image--lower img {
  object-fit: cover;
  object-position: center;
}
.hidden__navigation--desc {
  display: flex;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semibold);
  justify-content: space-between;
}
.hidden__navigation--content {
  width: 20%;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.navigation__animation {
  width: 100%;
  height: 2.65rem;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XXL);
  font-weight: var(--font-weight-bold);
  margin: 1rem 0 0 0;
}
.navigation__word--animation {
  width: 100%;
  transition: all 0.15s linear;
}
.navigation__animation:hover .navigation__word--animation {
  transform: translateY(-100%);
}
a {
  text-decoration: none;
  color: var(--font-color-white);
}
nav {
  margin: 1rem 0 0 0;
}
nav a {
  font-family: var(--font-family);
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-semibold);
}
.hidden__navigation--avatar {
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.hidden__navigation--avatar--container {
  width: 5rem;
  height: 5rem;
  background: red;
  border-radius: 0.5rem;
}
.hidden__navigation--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.hidden__navigation--close i {
  font-size: var(--font-size-body-XL);
}
.navigation__bar {
  width: 100%;
  display: flex;
  color: var(--font-color-white);
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2.5rem 4rem 2.5rem;
}
.icon {
  width: 25%;
}
.icon p {
  font-family: var(--font-family);
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-titan);
}
.navigation__desc {
  font-family: var(--font-family);
  width: 25%;
}
.navigation__bar p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}
.navigation__searth--bar {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.75rem 0 0.75rem 0;
  position: relative;
  transition: all 0.15s linear;
}
.navigation__searth--interactive {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__searth--bar p {
  padding: 0 0 0 1rem;
  transition: all 0.15s linear;
}
.icon__go--to i {
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-thin);
  color: var(--font-color-black);
}
.icon__go--to {
  height: 80%;
  width: 2rem;
  background-color: yellow;
  border-radius: 2rem;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  overflow: hidden;
}
.icon__go--to i {
  transition: all 0.25s linear;
}
.navigation__searth--bar:hover #navigation__searth--para {
  transform: translateX(10%);
}
.navigation__searth--bar:hover .icon__go--to i {
  scale: 1.25;
  transform: translate(-30%, 30%);
}
.navigation__searth--bar:hover {
  border: 1.5px solid rgb(255, 255, 255);
}
.navigation__searth--bar:hover .icon__go--to {
  background-color: white;
}
.hidden__navigation--open i {
  font-size: var(--font-size-body-XL);
  transition: all 0.15s cubic-bezier(1, 0, 0.25, 0.55);
}
.hidden__navigation--open i:hover {
  scale: 1.5;
}
.hidden__navigation--close i {
  font-size: var(--font-size-body-XL);
  transition: all 0.15s cubic-bezier(1, 0, 0.25, 0.55);
}
.hidden__navigation--close i:hover {
  scale: 1.5;
}
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color-white);
  padding: 15rem 0 0 0;
}
.upper__hero--content {
  display: flex;
  width: 80%;
  justify-content: center;
}
.left__hero--content {
  width: 40%;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}
.right__hero--content {
  width: 40%;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}
.right__hero--content p {
  text-align: right;
}
.lower__hero--content {
  width: 100%;
}
.lower__hero--content p:first-child {
  font-family: var(--font-family);
  font-size: var(--font-size-heading-super-titan);
  font-weight: var(--font-weight-bold);
  padding: 5rem 0 1rem 5rem;
}
.lower__hero--content p:last-child {
  font-family: var(--font-family);
  font-size: var(--font-size-heading-super-titan);
  font-weight: var(--font-weight-bold);
  padding: 1rem 0 5rem 30rem;
}
.about {
  width: 100%;
  padding: 7rem 2.5rem 7rem 2.5rem;
  background: var(--background-color-main);
  font-family: var(--font-family);
}
.about__title {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.about__lefttop--subtitle {
  width: 20%;
  height: 100%;
  position: relative;
  font-size: var(--font-size-body-XS);
  color: var(--font-color-sub);
  font-family: var(--font-weight-regular);
}
.about__lefttop--subtitle p {
  position: absolute;
  top: 0;
  right: 0;
}
.about__titlel {
  width: 80%;
  height: 100%;
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-bold);
}
.about__figure--card {
  display: flex;
  padding: 5rem 0 0 0;
  justify-content: center;
}
.about__card {
  width: 25%;
}
.about__card--number {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
  padding: 0 0 0.5rem 0;
}
.about__card--desc p:first-child {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
}
.about__card--desc p:last-child {
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-regular);
  padding: 0.5rem 0 0 0;
}
.card__blank--area {
  height: 5rem;
}
.about__touch--buy {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0 0 0;
  align-items: center;
  gap: 1rem;
}
.about__touch--searth {
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  position: relative;
}
.about__touch--searth p {
  transition: all 0.25s linear;
}
.about__touch--searthicon {
  height: 2.5rem;
  width: 2.5rem;
  background: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  overflow: hidden;
}
.about__touch--searthicon i {
  transition: all 0.25s linear;
}
.about__touch--desc {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.about__touch--searth:hover p {
  transform: translateX(10%);
}
.about__touch--searth:hover .about__touch--searthicon {
  background: var(--background-color-main);
}
.about__touch--searth:hover .about__touch--searthicon i {
  scale: 1.25;
  transform: translate(-20%, 20%);
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
}
.project__show {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem 7rem 2.5rem;
  font-family: var(--font-family);
}
#absolute__text--project {
  font-weight: var(--font-weight-ultrabold);
  padding: 2.5rem 0 2.5rem 0;
  align-self: flex-start;
}
.long__line {
  width: 96%;
  position: absolute;
  height: 0.2rem;
  background: var(--font-color-black);
}
.project__show--desc-interactive {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__show--desc-interactive p:first-child {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.next__back--project-interactive {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.next__back--project-interactive p {
  font-size: var(--font-size-body-XS);
  color: var(--font-color-sub);
}
.next__project--btn {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-thin);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.project__slide--container {
  width: 100%;
  padding: 2.5rem 0 0 0;
  display: flex;
}
.left__project--slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.left__slide--project-card {
  width: 30%;
}
.left__slide--image {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  border-radius: 1rem;
}
.left__slide--image .bigger {
  height: 50rem;
}
.left__slide--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.left__slide--project-card p {
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem 0 0 0;
}
.d {
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-thin);
  color: var(--font-color-sub);
}
.project__show--low-interactive {
  padding: 2.5rem 0 0 0;
  width: 100%;
}
.go__to--fullprojects {
  display: flex;
  gap: 1rem;
  justify-self: flex-end;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  transition: all 0.15s linear;
}
.go__to--fullprojects:hover {
  translate: -10%;
}
.process {
  width: 100%;
  padding: 2rem 2.5rem 7.5rem 2.5rem;
  font-family: var(--font-family);
  background-image: url("./home/Backphoto.png");
  background-position: cover;
  background-size: cover;
  color: var(--font-color-white);
}
.process__top--desc {
  width: 100%;
  font-weight: var(--font-weight-semibold);
  padding: 0 0 0.5rem 0;
}
.process__top--desc p:last-child {
  color: var(--font-color-sub);
  padding: 0.5rem 0 0 0;
}
.process__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.process__box--content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.process__content--desc {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-semibold);
  grid-area: 1 / 2 / 2 / 3;
}
.process__box--number p {
  color: var(--font-color-sub);
}
.process__box--image {
  width: 100%;
  height: 6rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.process__box--image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.process__box--desc p:first-child {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  padding-bottom: 0.25rem;
}
.process__box--desc p:last-child {
  font-size: var(--font-size-body-XS);
  color: var(--font-color-sub);
  font-weight: var(--font-weight-semibold);
}
.process__box--content:first-child {
  grid-area: 1 / 4 / 2 / 5;
}
.process__box--content:nth-child(2) {
  grid-area: 1 / 4 / 2 / 5;
}
.process__box--content:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}
.process__box--content:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}
.process__box--content:nth-child(5) {
  grid-area: 2 / 3 / 3 / 4;
}
.process__box--content:nth-child(6) {
  grid-area: 2 / 4 / 3 / 5;
}
.process__box--content-desc {
  grid-area: 3 / 3 / 4 / 4;
}
.process__box--content:nth-child(7) {
  grid-area: 3 / 2 / 4 / 3;
}
.process__box--content-desc {
  align-self: center;
}
.process__box--content-desc p {
  font-size: var(--font-size-body-XS);
}
.process__box--content:last-child {
  grid-area: 3 / 4 / 4 / 5;
}
.team {
  width: 100%;
  padding: 2.5rem 2.5rem 7.5rem 2.5rem;
  font-family: var(--font-family);
}
.team__slogan {
  width: 100%;
  translate: 20%;
}
.team__slogan p {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.team__content--main {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0 2rem 0;
  justify-content: space-between;
}
.team__content--desc p {
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-bold);
}
.team__content--user {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  padding: 15rem 0 0 3rem;
}
.team__content--user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.team__content--user p {
  font-weight: var(--font-weight-semibold);
  color: var(--font-color-white);
}
.team__content--user p:last-child {
  color: #f1dfc2;
}
.team__content--submain {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.bigger__team--content-user {
  background-image: url(./home/PEOPLE_4.avif);
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: 40rem;
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
  color: var(--font-color-white);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.team__content--submain .team__content--user:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
}
.team__content--submain .team__content--user:last-child p {
  color: var(--font-color-black);
}
.team__content--submain .team__content--user:last-child p:first-child {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.left__content--team--user {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.right__content--team--user p {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.faq {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem 7rem 2.5rem;
  font-family: var(--font-family);
}
.faq__top--desc {
  width: 100%;
  padding: 1rem 0 3rem 0;
}
.faq__top--desc p {
  font-weight: var(--font-weight-bold);
}
.faq__content--container {
  width: 100%;
  display: flex;
}
.left__content--container {
  height: 100%;
  width: 30%;
}
.left__content--container p {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.right__content--container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.faq__content--main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.faq__content--main .long__line {
  height: 0.01rem;
  background: var(--font-color-sub);
  width: 100%;
  position: relative;
}
.faq__content--question {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.faq__content--answer {
  font-weight: var(--font-weight-semibold);
  color: var(--font-color-sub);
  line-height: 2;
  overflow: hidden;
  max-height: 0rem;
  opacity: 0;
  transition: all 0.15s linear;
}
.faq__content--answer.open__answer {
  max-height: 100rem;
  opacity: 1;
}
.add__faq--section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add__faq--section p:first-child {
  font-size: var(--font-size-body-X);
  color: var(--font-color-sub);
}
.add__question {
  display: flex;
  gap: 1rem;
}
.add__question p {
  font-size: var(--font-size-heading-XL);
  color: var(--font-size-body-XL);
}
.carousel {
  width: 100%;
  height: 5rem;
  background-color: #f9e4ab;
  display: flex;
  gap: 5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.carousel__group {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 5rem;
  font-family: var(--font-family);
  animation: carousel 10s linear infinite;
}
.carousel__items {
  display: flex;
  white-space: nowrap;
}
.carousel__items i {
  font-size: var(--font-size-body-XL);
  color: var(--font-color-white);
}
.carousel__items p {
  font-size: var(--font-size-body-XL);
}
.carousel__items p:nth-child(3) {
  padding: 0 0.5rem 0 0.5rem;
  font-weight: var(--font-weight-bold);
}
.middle__hero {
  width: 100%;
  padding: 15rem 2.5rem 7rem 2.5rem;
  background-image: url("./home/Backphotos\ \(place\ your\ images\).png");
  background-size: cover;
  background-position: center;
  font-family: var(--font-family);
  color: var(--font-color-white);
}
.middle__hero--content {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
  padding: 0 0 0 20rem;
}
.middle__hero--content p:last-child {
  color: #f1dfc2;
}
.middle__hero--main-desc {
  padding: 5rem 0 5rem 0;
  font-size: var(--font-size-heading-super-titan);
  font-weight: var(--font-weight-bold);
}
.middle__hero--main-desc p:last-child {
  padding: 2rem 0 0 20rem;
}
.middle__hero--btn {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.order__btn {
  padding: 1rem 2rem 1rem 2rem;
  border: 0.2px solid white;
  display: flex;
  gap: 2rem;
  border-radius: 1rem;
  align-items: center;
  overflow: hidden;
}
.order__btn p {
  transition: all 0.15s linear;
}
.order__icon i {
  transform: translate(220%, -170%);
  transition: 0.15s linear;
}
.order__btn:hover p {
  transform: translateX(10%);
}
.order__btn:hover .order__icon i {
  transform: translate(0);
}
.review {
  width: 100%;
  padding: 2.5rem 2.5rem 7rem 2.5rem;
}
.review__top--desc p:first-child {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
}
.review__top--desc p:last-child {
  color: var(--font-color-sub);
  padding: 0.5rem 0 0 0;
  font-family: var(--font-family);
}
.review__main--content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3rem 0 1rem 0;
}
.right__reivew--content {
  width: 30%;
  font-family: var(--font-family);
  height: 100%;
}
.review__icon {
  width: 7rem;
  height: 7rem;
  background-color: red;
}
.review__desc p:first-child {
  padding: 0.5rem 0 0.25rem 0;
}
.review__desc p:last-child {
  color: var(--font-color-sub);
}
.left__review--content {
  width: 70%;
  font-family: var(--font-color-sub);
  height: 100%;
}
.left__review--content p:first-child {
  font-size: var(--font-size-body-XXL);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  padding: 0 0 2rem 0;
}
.left__review--content p:last-child {
  font-size: var(--font-size-body-XL);
  white-space: wrap;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semibold);
  color: var(--font-color-sub);
}
.review__turn--leftright {
  display: flex;
  width: 100%;
  justify-content: center;
}
.client__job,
.client__name,
.client__desc--main,
.client__desc--sub {
  transition: all 0.5s linear;
}
.review__turn--left,
.review__turn--right {
  width: 5rem;
  height: 5rem;
  background: transparent;
  font-size: var(--font-size-body-XXL);
  font-weight: var(--font-weight-semibold);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage {
  width: 100%;
  padding: 0 2.5rem 7rem 2.5rem;
}
.advantage__top--desc {
  width: 100%;
  font-family: var(--font-family);
}
.advantage__top--desc p:first-child {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
}
.advantage__top--desc p:last-child {
  font-size: var(--font-size-heading-XXL);
  padding: 1rem 0 4.5rem 20rem;
}
.advantage__content--main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, minmax(16rem, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}
.advantage__content--box {
  border-radius: 0.5rem;
  padding: 2.5rem;
  font-family: var(--font-family);
}
.advantage__content--box:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
  background: var(--font-color-white);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.advantage__content--box:nth-child(2) {
  grid-area: 1 / 3 / 3 / 6;
  background-image: url("./home/ADVANTAGE_1.avif");
  background-position: left top;
  background-size: cover;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.advantage__content--box:nth-child(3) {
  grid-area: 1 / 6 / 2 / 7;
  background-image: url("./home/ADVANTAGE_2.avif");
  background-size: cover;
  background-position: center center;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.advantage__content--box:nth-child(4) {
  grid-area: 2 / 6 / 3 / 7;
  background-image: url("./home/ADVANTAGE_3.avif");
  background-size: cover;
  background-position: center center;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.advantage__content--box:nth-child(5) {
  grid-area: 3 / 1 / 5 / 3;
  overflow: hidden;
  background: var(--font-color-white);
  position: relative;
}
.top__advantage--desc {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.top__advantage--desc p:first-child {
  font-size: var(--font-size-body-XL);
}
.bottom__advantage--desc {
  width: 100%;
  position: absolute;
  font-size: var(--font-size-body-XL);
  bottom: 2.5rem;
  left: 2.5rem;
}
.image__advantage {
  display: flex;
  overflow: hidden;
}
.image__box {
  height: 5rem;
  width: 10rem;
  background: var(--font-color-white);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  overflow: hidden;
  rotate: -20deg;
}
.image__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image__img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.advantage__content--box:nth-child(6) {
  grid-area: 3 / 3 / 5 / 4;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.back__image--content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.advantage__content--box:nth-child(6) .back__image--content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(0.2rem);
}
.back__image--content-reverse {
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 65%;
  border-radius: 0.5rem;
  top: 2.5rem;
  overflow: hidden;
  border: 0.01px solid white;
}
.back__image--content-reverse img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.advantage__content--box:nth-child(7) {
  grid-area: 3 / 4 / 5 / 7;
  background-image: url("./home/ADVANTAGE_5.avif");
  background-size: cover;
  background-position: center center;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.create {
  width: 100%;
  padding: 2.5rem 2.5rem 10rem 2.5rem;
}
.create__top--desc {
  width: 100%;
  padding: 2rem 0 4rem 0;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
}
.create__main--content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, minmax(10rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  overflow: hidden;
  font-family: var(--font-family);
}
.create__main--box img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.create__main--box:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}
.create__main--box:nth-child(1) p {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.create__main--box:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}
.create__main--box:nth-child(3) {
  grid-area: 1 / 4 / 2 / 5;
}
.create__main--box:nth-child(4) {
  grid-area: 1 / 5 / 2 / 6;
}
.create__main--box:nth-child(5) {
  grid-area: 2 / 1 / 3 / 3;
}
.create__main--box:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}
.create__main--box:nth-child(7) {
  grid-area: 2 / 4 / 3 / 5;
}
.create__main--box:nth-child(8) {
  grid-area: 2 / 5 / 3 / 7;
}
.create__main--box:nth-child(9) {
  grid-area: 3 / 2 / 4 / 3;
}
.create__main--box:nth-child(10) {
  grid-area: 3 / 4 / 4 / 5;
}
.create__main--box:nth-child(11) {
  grid-area: 3 / 5 / 4 / 6;
}
.create__main--box:nth-child(3) p,
.create__main--box:nth-child(9) p,
.create__main--box:nth-child(11) p {
  color: var(--font-color-sub);
}
.create__main--box:nth-child(3),
.create__main--box:nth-child(9),
.create__main--box:nth-child(11) {
  display: flex;
  align-items: flex-end;
}
footer {
  padding: 0 2.5rem 2.5rem 2.5rem;
  background-image: url("./home/Mainphoto.png");
  color: var(--font-color-white);
  font-family: var(--font-family);
}
.top__footer--desc {
  width: 100%;
  padding: 2rem 0 4rem 0;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-ultrabold);
}
.medium__footer--desc {
  width: 100%;
  display: flex;
}
.left__medium--footer {
  width: 20%;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
}
.center__medium--footer {
  width: 60%;
  display: flex;
  justify-content: center;
}
.right__medium--footer {
  width: 40%;
  display: flex;
  justify-content: space-around;
  color: #828487;
}
.backdrop__footer--desc {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0 4rem 0;
}
.backdrop__footer--desc p:first-child {
  font-size: var(--font-size-body-XL);
  padding: 0 0 1rem 0;
}
.backdrop__footer--desc p:last-child {
  font-size: 5rem;
}
.backdrop__footer--desc p:last-child:hover {
  color: #f1dfc2;
}

.bottom__footer--desc {
  display: flex;
  justify-content: space-around;
}
@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 1300px) {
  .navigation__desc {
    display: none;
  }
  .navigation__bar {
    justify-content: space-between;
  }
  .navigation__searth--interactive {
    width: 60%;
  }
  .lower__hero--content p:first-child {
    padding: 5rem 0 1rem 2.5rem;
    font-size: 8rem;
  }
  .lower__hero--content p:last-child {
    padding: 1rem 0 5rem 2.5rem;
    font-size: 8rem;
  }
  .about__title {
    display: block;
  }
  .about__lefttop--subtitle {
    width: 100%;
  }
  .about__titlel {
    width: 100%;
  }
  .about__figure--card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
  }
  .card__blank--area {
    height: 0;
  }
  .process__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .process__content--desc {
    grid-area: 1 / 1 / 2 / 3;
  }
  .process__box--content:nth-child(1) {
    grid-area: auto;
  }
  .process__box--content:nth-child(2) {
    grid-area: auto;
  }
  .process__box--content:nth-child(3) {
    grid-area: auto;
  }
  .process__box--content:nth-child(4) {
    grid-area: auto;
  }
  .process__box--content:nth-child(5) {
    grid-area: auto;
  }
  .process__box--content:nth-child(6) {
    grid-area: auto;
  }
  .process__box--content:nth-child(7) {
    grid-area: auto;
  }
  .process__box--content:last-child {
    grid-area: auto;
  }
  .process__box--content-desc {
    grid-area: auto;
  }
  .team__slogan {
    translate: 0;
  }
  .team__content--main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .team__content--desc {
    align-self: center;
    justify-self: center;
    grid-area: 1 / 1 / 2 / 4;
  }
  .team__content--submain .team__content--user:last-child {
    display: none;
  }
  .team__content--user {
    width: 100%;
    height: 100%;
  }
  .faq__content--container {
    flex-direction: column;
    gap: 4rem;
  }
  .left__content--container,
  .right__content--container {
    width: 100%;
  }
  .middle__hero--main-desc p:last-child {
    padding: 2rem 0 0 0rem;
  }
  .middle__hero--main-desc {
    font-size: 8.5rem;
  }
  .middle__hero--content {
    padding: 0;
  }
  .review__main--content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .right__reivew--content,
  .left__review--content {
    width: 100%;
  }
  .advantage__content--main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, minmax(16rem, 1fr));
  }
  .advantage__content--box:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
  background: var(--font-color-white);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.advantage__content--box:nth-child(2) {
  grid-area: 2 / 1 / 4 / 3;
  background-image: url("./home/ADVANTAGE_1.avif");
  background-position: left top;
  background-size: cover;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.advantage__content--box:nth-child(3) {
  grid-area: 4 / 1 / 5 / 3;
  background-image: url("./home/ADVANTAGE_2.avif");
  background-size: cover;
  background-position: center center;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
.advantage__content--box:nth-child(4) {
  grid-area: 5 / 1 / 6 / 3;
  background-image: url("./home/ADVANTAGE_3.avif");
  background-size: cover;
  background-position: center center;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.advantage__content--box:nth-child(5) {
  grid-area: 1 / 3 / 3 / 5;
  overflow: hidden;
  background: var(--font-color-white);
  position: relative;
}
.advantage__content--box:nth-child(6) {
  grid-area: 4 / 3 / 6 / 5;
}
.advantage__content--box:nth-child(7){
  grid-area: 3 / 3 / 4 / 5;
}
  .advantage__top--desc p:last-child {
  font-size: var(--font-size-heading-XXL);
  padding: 1rem 0 4.5rem 0rem;
}
}
@media (max-width: 810px){
  .hidden__navigation--avatar {
    display: none;
  }
  .hidden__navigation--contact{
    display: none;
  }
  .hidden__navigation--content {
    width: 100%;
  }
  .upper__hero--content {
    width: 100%;
    flex-direction: column;
    padding: 0 0 0 2.5rem;
    gap: 1rem;
  }
  .right__hero--content , .left__hero--content{
    width: 100%;
  }
  .right__hero--content p {
    text-align: left;
  }
  .lower__hero--content p:first-child , .lower__hero--content p:last-child{
    font-size: 7rem;
  }
  .navigation__searth--bar {
    display: none;
  }
  .navigation__bar {
    justify-content: space-between;
  }
  .navigation__searth--interactive  {
    width: 10%
  }
  .about__figure--card {
    display: flex;
    flex-direction: column;
  }
  .about__touch--buy {
    flex-direction: column;
  }
  .about__touch--searth {
    width: 100%;
  }
  .left__project--slide {
    flex-direction: column;
  }
  .left__slide--project-card {
    width: 100%;
  }
  .process__content {
    display: flex;
    flex-direction: column;
  }
  .process__content--desc p {
    font-size: var(--font-size-body-XXL);
  }
  .team__content--main {
    display: flex;
    flex-direction: column;
  }
  .team__content--submain {
    flex-direction: column;
  }
  .bigger__team--content-user{
    width: 100%;
  }
  .order__btn {
    width: 100%;
  }
  .advantage__content--main {
    display: flex;
    flex-direction: column;
  }
  .advantage__top--desc p:last-child {
  font-size: var(--font-size-heading-XXL);
  padding: 1rem 0 4.5rem 0rem;
}
.advantage__content--box {
  min-height: 50rem;
}
.create__main--content {
  display: flex;
  flex-direction: column;
}
.medium__footer--desc {
  flex-direction: column;
  gap: 2rem;
}
.left__medium--footer , .center__medium--footer , .right__medium--footer {
  width: 100%;
}
.center__medium--footer {
  justify-content: flex-start;
}
.backdrop__footer--desc p:last-child {
  font-size: var(--font-size-body-XXL);
}
.bottom__footer--desc {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.bottom__footer--desc p:last-child {
  text-align: center;
}
}
@media (max-width: 500px){
  .lower__hero--content p:first-child , .lower__hero--content p:last-child{
    font-size: 5rem;
  }
  .middle__hero--main-desc p {
    font-size: var(--font-size-body-XXL);
  }
}
[data-aos] {
  visibility: hidden;
}
[data-aos].animate__animated {
  visibility: visible;
}
