* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-family: "Inter", sans-serif;
  --font-color-white: white;
  --font-color-black: black;
  --font-color-sub: rgb(130, 132, 135);
  --background-color-main: rgb(241, 241, 241);
  --font-size-heading-super-titan: 10rem;
  --font-size-heading-XXL-titan: 5.75rem;
  /*92px*/
  --font-size-heading-XXL: 4.5rem;
  /*72px*/
  --font-size-heading-SXL: 2rem;
  /*32px*/
  --font-size-heading-XL: 1.875rem;
  /*30px*/
  --font-size-body-XXL: 2.5rem;
  /* 40px */
  --font-size-body-XL: 1.5rem;
  /*24px*/
  --font-size-body-X: 1rem;
  /*16px*/
  --font-size-body-XS: 0.875rem;
  /*14px*/
  --font-size-number-titan: 4.5rem;
  /*70px*/
  --font-size-title-XXL: 3.75rem;
  /*60px*/
  --font-weight-regular: 400;
  --font-weight-thin: 300;
  --font-weight-semibold: 400;
  --font-weight-bold: 600;
  --font-weight-ultrabold: 700;
  --font-weight-titan: 900;
}
body {
  width: 100%;
  overflow-x: hidden;
}
header {
  width: 100%;
  background-image: url("./home/BACKGROUND__HERO.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden__nagativation--bar {
  position: fixed;
  width: 100%;
  max-height: 0rem;
  opacity: 0;
  background: black;
  z-index: 99;
  color: var(--font-color-white);
  overflow: hidden;
  transition: all 0.5s linear;
}
.hidden__navigation--bar--content {
  width: 100%;
  display: flex;
  gap: 5rem;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 99;
}
.hidden__navigation--contact {
  height: 100%;
  width: 40%;
  position: relative;
}
.hidden__navigation--contact .icon {
  padding: 0 0 3rem 0;
}
.hidden__image--upper {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.hidden__image--lower {
  width: 70%;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.5rem;
  transform: translate(50%, -50%);
}
.hidden__image--upper img,
.hidden__image--lower img {
  object-fit: cover;
  object-position: center;
}
.hidden__navigation--desc {
  display: flex;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semibold);
  justify-content: space-between;
}
.hidden__navigation--content {
  width: 20%;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.navigation__animation {
  width: 100%;
  height: 2.65rem;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XXL);
  font-weight: var(--font-weight-bold);
  margin: 1rem 0 0 0;
}
.navigation__word--animation {
  transition: all 0.15s linear;
}
.navigation__animation:hover .navigation__word--animation {
  transform: translateY(-100%);
}
a {
  text-decoration: none;
  color: var(--font-color-white);
}
nav {
  margin: 1rem 0 0 0;
}
nav a {
  font-family: var(--font-family);
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-semibold);
}
.hidden__navigation--avatar {
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.hidden__navigation--avatar--container {
  width: 5rem;
  height: 5rem;
  background: red;
  border-radius: 0.5rem;
}
.hidden__navigation--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.hidden__navigation--close i {
  font-size: var(--font-size-body-XL);
}
.navigation__bar {
  width: 100%;
  display: flex;
  color: var(--font-color-white);
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}
.icon {
  width: 25%;
}
.icon p {
  font-family: var(--font-family);
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-titan);
}
.navigation__desc {
  font-family: var(--font-family);
  width: 25%;
}
.navigation__bar p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}
.navigation__searth--bar {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.75rem 0 0.75rem 0;
  position: relative;
  transition: all 0.15s linear;
}
.navigation__searth--interactive {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__searth--bar p {
  padding: 0 0 0 1rem;
  transition: all 0.15s linear;
}
.icon__go--to i {
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-thin);
  color: var(--font-color-black);
}
.icon__go--to {
  height: 80%;
  width: 2rem;
  background-color: yellow;
  border-radius: 2rem;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  overflow: hidden;
}
.icon__go--to i {
  transition: all 0.25s linear;
}
.navigation__searth--bar:hover #navigation__searth--para {
  transform: translateX(10%);
}
.navigation__searth--bar:hover .icon__go--to i {
  scale: 1.25;
  transform: translate(-30%, 30%);
}
.navigation__searth--bar:hover {
  border: 1.5px solid rgb(255, 255, 255);
}
.navigation__searth--bar:hover .icon__go--to {
  background-color: white;
}
.hidden__navigation--open i {
  font-size: var(--font-size-body-XL);
  transition: all 0.15s cubic-bezier(1, 0, 0.25, 0.55);
}
.hidden__navigation--open i:hover {
  scale: 1.5;
}
.hidden__navigation--close i {
  font-size: var(--font-size-body-XL);
  transition: all 0.15s cubic-bezier(1, 0, 0.25, 0.55);
}
.hidden__navigation--close i:hover {
  scale: 1.5;
}
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color-white);
  padding: 15rem 0 0 0;
}
.upper__hero--content {
  display: flex;
  width: 80%;
  justify-content: center;
}
.left__hero--content {
  width: 40%;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}
.right__hero--content {
  width: 40%;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}
.right__hero--content p {
  text-align: right;
}
.lower__hero--content {
  width: 100%;
}
.lower__hero--content p:first-child {
  font-family: var(--font-family);
  font-size: var(--font-size-heading-super-titan);
  font-weight: var(--font-weight-bold);
  padding: 5rem 0 1rem 5rem;
}
.lower__hero--content p:last-child {
  font-family: var(--font-family);
  font-size: var(--font-size-heading-super-titan);
  font-weight: var(--font-weight-bold);
  padding: 1rem 0 5rem 30rem;
}
.about {
  width: 100%;
  padding: 7rem 2.5rem 7rem 2.5rem;
  background: var(--background-color-main);
  font-family: var(--font-family);
}
.about__title {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.about__lefttop--subtitle {
  width: 20%;
  height: 100%;
  position: relative;
  font-size: var(--font-size-body-XS);
  color: var(--font-color-sub);
  font-family: var(--font-weight-regular);
}
.about__lefttop--subtitle p {
  position: absolute;
  top: 0;
  right: 0;
}
.about__title {
  width: 70%;
  height: 100%;
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-bold);
}
.about__figure--card {
  display: flex;
  padding: 5rem 0 0 0;
  justify-content: center;
}
.about__card {
  width: 25%;
}
.about__card--number {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
  padding: 0 0 0.5rem 0;
}
.about__card--desc p:first-child {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
}
.about__card--desc p:last-child {
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-regular);
  padding: 0.5rem 0 0 0;
}
.card__blank--area {
  height: 5rem;
}
.about__touch--buy {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0 0 0;
  align-items: center;
  gap: 1rem;
}
.about__touch--searth {
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  position: relative;
}
.about__touch--searth p {
  transition: all 0.25s linear;
}
.about__touch--searthicon {
  height: 2.5rem;
  width: 2.5rem;
  background: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  overflow: hidden;
}
.about__touch--searthicon i {
  transition: all 0.25s linear;
}
.about__touch--desc {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.about__touch--searth:hover p {
  transform: translateX(10%);
}
.about__touch--searth:hover .about__touch--searthicon {
  background: var(--background-color-main);
}
.about__touch--searth:hover .about__touch--searthicon i {
  scale: 1.25;
  transform: translate(-20%, 20%);
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
}
.project__show {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem 7rem 2.5rem;
  font-family: var(--font-family);
}
#absolute__text--project {
  font-weight: var(--font-weight-ultrabold);
  padding: 2.5rem 0 2.5rem 0;
  align-self: flex-start;
}
.long__line {
  width: 96%;
  position: absolute;
  height: 0.2rem;
  background: var(--font-color-black);
}
.project__show--desc-interactive {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__show--desc-interactive p:first-child {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.next__back--project-interactive {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.next__back--project-interactive p {
  font-size: var(--font-size-body-XS);
  color: var(--font-color-sub);
}
.next__project--btn {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-thin);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.project__slide--container {
  width: 100%;
  padding: 2.5rem 0 0 0;
  display: flex;
}
.left__project--slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.left__slide--project-card {
  width: 30%;
}
.left__slide--image {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  border-radius: 1rem;
}
.left__slide--image .bigger {
  height: 50rem;
}
.left__slide--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.left__slide--project-card p {
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem 0 0 0;
}
.d {
  font-size: var(--font-size-body-X);
  font-weight: var(--font-weight-thin);
  color: var(--font-color-sub);
}
.project__show--low-interactive {
  padding: 2.5rem 0 0 0;
  width: 100%;
}
.go__to--fullprojects {
  display: flex;
  gap: 1rem;
  justify-self: flex-end;
  font-family: var(--font-family);
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  transition: all 0.15s linear;
}
.go__to--fullprojects:hover {
  translate: -10%;
}
.process {
  width: 100%;
  padding: 2rem 2.5rem 7.5rem 2.5rem;
  font-family: var(--font-family);
  background-image: url("./home/Backphoto.png");
  background-position: cover;
  background-size: cover;
  color: var(--font-color-white);
}
.process__top--desc {
  width: 100%;
  font-weight: var(--font-weight-semibold);
  padding: 0 0 0.5rem 0;
}
.process__top--desc p:last-child {
  color: var(--font-color-sub);
  padding: 0.5rem 0 0 0;
}
.process__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.process__box--content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.process__content--desc {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-semibold);
  grid-area: 1 / 2 / 2 / 3;
}
.process__box--number p{
  color: var(--font-color-sub);
}
.process__box--image {
  width: 100%;
  height: 6rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.process__box--image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.process__box--desc p:first-child {
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-bold);
  padding-bottom: 0.25rem;
}
.process__box--desc p:last-child {
  font-size: var(--font-size-body-XS);
  color: var(--font-color-sub);
  font-weight: var(--font-weight-semibold);
}
.process__box--content:first-child {
  grid-area: 1 / 4 / 2 / 5;
}
.process__box--content:nth-child(2) {
  grid-area: 1 / 4 / 2 / 5;
}
.process__box--content:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}
.process__box--content:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}
.process__box--content:nth-child(5) {
  grid-area: 2 / 3 / 3 / 4;
}
.process__box--content:nth-child(6) {
  grid-area: 2 / 4 / 3 / 5;
}
.process__box--content-desc {
  grid-area: 3 / 3 / 4 / 4;
}
.process__box--content:nth-child(7) {
  grid-area: 3 / 2 / 4 / 3;
}
.process__box--content-desc {
  align-self: center;
}
.process__box--content-desc p {
  font-size: var(--font-size-body-XS);
}
.process__box--content:last-child {
  grid-area: 3 / 4 / 4 / 5;
}
.team {
  width: 100%;
  padding: 2.5rem 2.5rem 7.5rem 2.5rem;
  font-family: var(--font-family);
}
.team__slogan {
  width: 100%;
  translate: 20%;
}
.team__slogan p {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.team__content--main {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0 2rem 0;
  justify-content: space-between;
}
.team__content--desc p{
  font-size: var(--font-size-heading-XL);
  font-weight: var(--font-weight-bold);
}
.team__content--user {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  padding: 15rem 0 0 3rem;
}
.team__content--user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.team__content--user p {
  font-weight: var(--font-weight-semibold);
  color: var(--font-color-white);
}
.team__content--user p:last-child {
  color: #F1DFC2;
}
.team__content--submain {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.bigger__team--content-user {
  background-image: url(./home/PEOPLE_4.avif);
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: 40rem;
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
  color: var(--font-color-white);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.team__content--submain .team__content--user:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
}
.team__content--submain .team__content--user:last-child p {
  color: var(--font-color-black);
}
.team__content--submain .team__content--user:last-child p:first-child {
  font-size: var(--font-size-heading-XXL);
  font-weight: var(--font-weight-bold);
}
.left__content--team--user {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.right__content--team--user p{
  font-size: var(--font-size-body-XL);
  font-weight: var(--font-weight-semibold);
}
[data-aos] {
  visibility: hidden;
}
[data-aos].animate__animated {
  visibility: visible;
}
